/* stchat.css */
.body-chat, .html-chat {
    height: 100%;
    width: 100%;
    color: #f2f5f6;
}
.body-chat{
    background-color: #1b2936;
}
.header-chat{
    display: flex;
    height: 15%;
    border-bottom: 0.1rem solid black;
    justify-content: space-around; 
    background-color: #233446; 
}

.linha-chat {
    display: flex;
    flex-direction: row;
    background-color: #233446;
}

.nome_status-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Arvo', serif;    
}

.nome_status-chat li{
    font-size: x-large; 
}

.icons-chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.pfp-chat{
    height: 80%;
    width: auto;
    padding: .3rem;
}
.dots-chat img{
    height: 1.5rem;
    width: auto;
}
.home-chat{
    height: 80%;
    width: auto;
    align-self: center;
}
.main-chat{   
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 78%;
    background-color: #1B2936;
}
.coluna-chat{
    display: flex;
    flex-direction:column;
}
.me-chat{
    align-self: flex-end;
}
.they-chat{
    align-self: flex-start;
}
.chat-chat{
    height: 3rem;
    width: auto;    
}

.footer-chat{
    height: 8%;
    border-top: .1rem solid black;
    background-color: #233446;
}
.typer-chat{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.typing-chat{
    width: 40%;
    height: 1rem;
    border: .1rem solid;
}

/* stcompras.css */
html,body{
    height: 100%;
    width: 100%;
    color: #f2f5f6;
}
body{
    background-color: #1b2936;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    height: 10%;
    border-bottom: .1rem solid black;
    font-family: 'Arvo', serif;
    background-color: #233446;
}

h1{
    position: absolute;
    padding: 1rem;
    font-size: xx-large;
    top: auto;
}

.home{
    position: absolute;
    top: .3rem;
    right: 0.5rem;
    height: 3rem;
    width: auto;
}

.set{
    position: absolute;
    top: .3rem;
    left: 0.5rem;
    height: 3rem;
    width: auto;
}

main{
    display: flex;
    flex-direction: column;   
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
}
img{
    height: 3rem;
    width: auto;
}
.coluna{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.a2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .4rem;
    width: 60%;
    border-radius: .5rem;
    border: .1rem solid black;
}
.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .4rem;
    width: 60%;
    border-radius: .5rem;
    border: .1rem solid black;
}
.linha2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.nome{
    align-self: center;
    font-family: 'Arvo', serif;
}
.padrao {
    text-decoration: none;
    color: black;
}

/* stconfig.css */
html,body{
    height: 100%;
    width: 100%;
    color: #f2f5f6;
}
body{
    background-color: #1b2936;
}
header{
    position: relative;
    height: 5%;
    background-color: #233446;
}
.home{
    position: absolute;
    top: .5rem;
    right: .5rem;
    height: 2rem;
    width: auto;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.lista{
    position: relative;
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
    font-family: 'Arvo', serif;
}
.lista li{
    align-self: center;
    padding-right: 1rem;
    font-size: xx-large;
}
.coluna{
    width: 80%;
    height: 80%;
    display: flex;
}